.speech{
    font-family: 'Arial';
    font-size: 16px;
    color: black;
}

.stage-direction{
    font-family: 'Arial';
    font-size: 16px;
    color: black;
    background-color: crimson;

}

.name{  
    font-size: 16px;
    color: black;
}

.stage-direction:hover{
    background-color: yellowgreen;
    color: lightpink;

}

.CECILY{
    color: lightsteelblue;
}

.PRISM{
    color: peachpuff;
}

.CHASUBLE{
    color:darkolivegreen;
}

table {
    border: 1px solid black;
    width: 70%;
  }

th {
    border: 1px solid black;
    color:darkgreen;
    text-align: center;
}

td {
    border: 1px solid black;
    color: blueviolet;
    text-align: center;
}

tr:nth-child(even) {
    background-color: wheat;
}

.PRISM:hover{
    text-shadow: 2px 2px 4px chocolate;
    border: solid 4px darkgreen;
}

ul.navbar-horizontal {

    list-style-type: none;

    margin: 0;

    padding: 0;

}

ul.navbar-horizontal li {

    float:left;

    background: linear-gradient(110deg, yellowgreen,chocolate );

}

ul.navbar-horizontal a {

    display:block;

    padding:20px;

    color: pink;

}

ul.navbar-horizontal a:hover {

    background-color: violet;

    color:yellowgreen;

}
