.speech{
    font-family: 'Arial';
    font-size: 16px;
    color: black;
}

.stage-direction{
    font-family: 'Arial';
    font-size: 16px;
    color: black;
    background-color: crimson;

}

.name{  
    font-size: 16px;
    color: black;
}

.stage-direction:hover{
    background-color: yellowgreen;
    color: lightpink;

}

.CECILY{
    color: lightsteelblue;
}

.PRISM{
    color: peachpuff;
}

.CHASUBLE{
    color:darkolivegreen;
}

table {
    border: 1px solid black;
    width: 70%;
  }

th {
    border: 1px solid black;
    color:darkgreen;
    text-align: center;
}

td {
    border: 1px solid black;
    color: blueviolet;
    text-align: center;
}

tr:nth-child(even) {
    background-color: wheat;
}

